.card-Hover:hover{
    background-color: #ffcb05!important;
    color: #3c5aa6!important;
}

.loaderPosition {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 }

 .filterPosition {
    margin: 0;
    position: absolute;
    left: 109%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 }